// mixins
@mixin transition($args...) {
    -webkit-transition: $args;
       -moz-transition: $args;
        -ms-transition: $args;
         -o-transition: $args;
            transition: $args;
}

@mixin transform($args...) {
    -webkit-transform: $args;
       -moz-transform: $args;
        -ms-transform: $args;
         -o-transform: $args;
            transform: $args;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: #eeeeec;
}

* {
  box-sizing: border-box;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
}

html {
  padding: 0 20px;
}

.container {
  max-width: 1000px;
  margin: auto;
  background-color: white;
  margin-top: 20px;
  > {
    h1 {
      padding: 20px 30px;
    }
  }
}

a {
  color: #6699ff;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.aboutme {
  padding: 30px;
  line-height: 1.44;
}

.projects, .resume {
  background-color: #f6f6f5;
}

.pre-contact {
  padding: 20px 30px;
}

.contact {
  background-color: #f6f6f5;
}

.corner-ribbon {
  line-height: 30px;
  position: absolute;
  top: 14px;
  right: -70px;
  width: 200px;
  height: 30px;
  @include transform(rotate(45deg));
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
  color: #f0f0f0;
  background: #e82;
}

.corner-ribbon--winner {
  font-size: 14px;
  letter-spacing: initial;
  background-color: #43A047;
}

.card {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 300px;
  height: 446px;
  margin: 10px;
  vertical-align: top;
  color: #272727;
  background: #fff;
  box-shadow: 0 0px 2px 0 rgba(0,0,0,0.16), 0 0px 2px 0 rgba(0,0,0,0.12);
  border-radius: 2px;
  @include transition(background 0.25s);
  &:focus, &:hover {
    background: #f6f6f5;
  }
  &:focus .outer-text, &:hover .outer-text {
    @include transform(translateY(-129px));
  }
  .title {
    font-size: 32px;
    position: relative;
    width: 300px;
    height: 75px;
    margin: 20px auto;
    padding: 10px;
    span {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      @include transform(translate(-50%, -50%));
    }
  }
  .year {
    font-size: 15px;
    line-height: 28px;
    height: 30px;
    border-top: 1px #b9b9b9 solid;
    background: #f6f6f5;
  }
  img {
    border-top: 1px #b9b9b9 solid;
  }
  a {
    text-decoration: initial;
    color: initial;
  }
  .outer-text {
    position: relative;
    height: 100px;
    border-top: 1px #b9b9b9 solid;
    border-bottom: 1px solid #b9b9b9;
    background: rgba(255, 255, 255, 0.9);
    @include transition(transform 300ms);
  }
  .inner-text {
    position: absolute;
    top: 50%;
    padding: 10px;
    @include transform(translateY(-50%));
  }
}

.small-card {
  width: 300px;
  height: 128px;
  .img-container {
    overflow: hidden;
    width: 300px;
    height: 100px;
    border-top: 2px #b9b9b9 solid;
  }
  img {
    border-top: 0;
    @include transform(translateY(-35%));
  }
  .title {
    font-size: 16px;
    height: 24px;
    margin: 2px auto;
    padding: 0;
  }
  .outer-text {
    bottom: 30px;
  }
  &:hover > .outer-text, &:focus > .outer-text {
    @include transform(translateY(-100%));
  }
  .year {
    position: relative;
    bottom: 30px;
    width: 100px;
    padding: 5px, 10px;
    border-top: 1px #b9b9b9 solid;
    border-right: 1px #b9b9b9 solid;
  }
  .corner-ribbon {
    top: 0;
    left: 0;
    width: 50px;
    height: 28px;
    border-right: 2px #b9b9b9 solid;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
    @include transform(rotate(0deg));
  }
  .corner-ribbon--winner {
    width: 65px;
  }
}

@media only screen and (max-width: 670px) {
  html {
    padding: 0;
  }

  .container {
    margin-top: 0;
    width: 100%;
  }

  .contact {
    margin-bottom: 0 !important;
  }

  .card {
    &::after {
      font-size: 24px;
      line-height: 29px;
      position: absolute;
      z-index: 0;
      top: 0;
      right: 0;
      display: block;
      box-sizing: border-box;
      width: 29px;
      height: 29px;
      content: 'i';
      font-family: serif;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      text-align: center;
      border-bottom: 1px #b9b9b9 solid;
      border-left: 1px #b9b9b9 solid;
      background: rgba(255,255,255,0.85);
      -webkit-touch-callout: none;
      -khtml-user-select: none;
    }
    width: 300px;
    height: 128px;
    .img-container {
      overflow: hidden;
      width: 300px;
      height: 100px;
      border-top: 1px #b9b9b9 solid;
    }
    img {
      border-top: 0;
      @include transform(translateY(-35%));
    }
    .title {
      font-size: 16px;
      height: 24px;
      margin: 2px auto;
      padding: 0;
    }
    .outer-text {
      bottom: 30px;
    }
    &:hover > .outer-text, &:focus > .outer-text {
      @include transform(translateY(-100%));
    }
    .year {
      position: relative;
      bottom: 30px;
      width: 100px;
      padding: 5px, 10px;
      border-top: 1px #b9b9b9 solid;
      border-right: 1px #b9b9b9 solid;
    }
    .corner-ribbon {
      font-weight: normal;
      top: 0;
      left: 0;
      width: 50px;
      height: 28px;
      border-right: 2px #b9b9b9 solid;
      box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
      @include transform(rotate(0deg));
    }
    .corner-ribbon--winner {
      width: 65px;
    }
    .title {
      width: 300px;
      margin: 2px 0;
    }
  }
}

#bulbimg {
  animation-name: huerotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes huerotate {
  0% {
    -webkit-filter: hue-rotate(0deg);
    -moz-filter: hue-rotate(0deg);
    -ms-filter: hue-rotate(0deg);
    -o-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }

  50% {
    -webkit-filter: hue-rotate(180deg);
    -moz-filter: hue-rotate(180deg);
    -ms-filter: hue-rotate(180deg);
    -o-filter: hue-rotate(180deg);
    filter: hue-rotate(180deg);
  }

  100% {
    -webkit-filter: hue-rotate(360deg);
    -moz-filter: hue-rotate(360deg);
    -ms-filter: hue-rotate(360deg);
    -o-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}


h1, h3 {
  font-weight: normal;
  text-align: center;
}

.projects {
  text-align: center;
  padding: 20px 0;
}

.resume {
  text-align: right;
  padding: 20px 30px;
  line-height: 1.4;
}

.contact {
  padding: 0 30px;
}

.container > h3 {
  padding: 0 30px;
}
