#info {
	padding-top: 1em;
	text-align:center;
}

#contact {
	padding-top: 1em;
	text-align:center;
}

html {
	background: rgb(176,212,227);
	font-family:'Myriad Pro', sans-serif;
}

#info a {
	text-decoration:none;
	color:#000000;
}

/*
.button {
	background-color:#ededed;
	
	border-radius:2px;
	border:1px solid #dcdcdc;
	
	padding:0.5em;
	color:#000000;
	
	max-width: 20em;
	margin: 0 auto;
}

.button:hover {
	background-color:#dfdfdf;
}.button:active {
	position:relative;
	top:1px;
}
*/

.button {
	background-color:#ededed;

	border-radius:2px;
	border:1px solid #dcdcdc;

	padding:0.5em;
	color:#000000;
	
	max-width: 20em;
	margin: 0em auto;
  
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: box-shadow, transform;
	transition-property: box-shadow, transform;
}
.button:hover, .button:focus, .button:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}